<p>Hello <%= @user.first_name + ' ' + @user.last_name %>!</p>

<p>Below is your user name and password if you will decide to login without facebook.</p>

<p><%= @user.user_name %></p>
<p><%= @password %></p>

