<div class="confirmation-dialog">
  <div class="confirmed-wrapper">
    <p>Your email was confirmed successfully!</p>
    <p>You can find us:</p>
    <a href="#"><span id="play-store"></span></a>
    <a href="#"><span id="apple-store"></span></a>
  </div>
</div>
